.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
.play {
  font-size: 45px;
  padding: 0 50px;
  border-radius: 10px;
  text-align: center;
  color: #033323;
  background-color: #b2ffe5;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
}
.play:hover {
  transform: scale(1.1);
  background-color: #033323;
  color: #b2ffe5;
  transition: 0.6s;
  cursor: pointer;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
